<%= simple_form_for @user, :url => create_customer_login_users_path, :method => :put do |f| %>
  <%= f.input :name, :label => t('Name') %>
  <%= f.input :login, :label => t('Login'), :hint => t('6 characters or more') if Authentify::AuthentifyUtility.find_config_const('login_name', 'authentify') == 'true' %>
  <%= f.input :email, :label => t('Email'), :hint => t('Or make up unique one like login') + '@a.com' %>
  <%= f.input :password, :label => t('Password'), :hint => t('6 characters or more'), :input_html => {:id => 'new_user_password'} %>
  <%= f.input :password_confirmation, :label => t('Password Confirmation') %> 
  <%= f.input :cell, :label => t('Cell#'), :placeholder => '1234567890' %> 
  <%= f.input :customer_id, :as => :hidden, :input_html => {:value => @customer.id}%>
  <%#= f.input :allow_text_msg, :label => t('Text Msg Alert'), :as => :boolean %>
  <%#= f.input :allow_email, :label => t('Email Alert'), :as => :boolean %>
  <%= f.fields_for :user_roles, @user.user_roles.first do |builder| %>
    <p><%= builder.input :role_definition_id, :as => :hidden %>
    </p>  
  <% end %>   
  <%= f.fields_for :user_levels, @user.user_levels.first do |builder| %>
    <p><%= builder.input :sys_user_group_id, :as => :hidden %>
    </p>  
  <% end %>   
  
  <p><%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :class => BUTTONS_CLS['action'] %>
  	&nbsp;&nbsp;&nbsp;&nbsp;
  <%= f.button :submit, t('Save'), :class => BUTTONS_CLS['action'] %></p>
<% end %>
