<% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
<% else %>
  <h1><%=@title%></h1>
<div class="pagination"><%= will_paginate models %></div>

<table class="table table-striped">
  <tr>
  	<th>#</th>
    <th><%=t('Name')%></th>
    <th><%=t('Email') %></th>
    <th><%=t('Login')%></th>
    <th><%=t('Status')%></th>
    <th><%=t('Customer')%></th>
    <th><%=t('Cell#') %></th>
    <th><%=t('Text Msg Alert') %></th>
    <th><%=t('Email Alert') %></th>
    <th></th>
  </tr>
  <% models.each do |user| %>
    <tr>
      <td><%= user.id.to_s %></td>  	
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.login %></td>
      <td><%= t(user.status) %></td>
      <td><%= CustomerAuthentify.customer_class.find_by_id(user.customer_id).name %></td>
      <td><%= user.cell %></td>
      <td><%= user.allow_text_msg ? t('Yes') : t('No') %></td>
      <td><%= user.allow_email ? t('Yes') : t('No') %></td>
      <td><%= link_to t("Edit"), SUBURI + "/authentify/view_handler?index=1&url=#{edit_customer_login_users_path(id: user.id)}", :class => BUTTONS_CLS['action'] if has_action_right?('edit_customer_login', params[:controller]) %></td>
    </tr>
  <% end %>
</table>
<p>
<table class="table table-striped">
	  <tr>
	    <th>
         <%= link_to t("New User"), SUBURI + "/authentify/view_handler?index=1&url=#{new_customer_login_users_path(customer_id: @customer.id)}", :class => BUTTONS_CLS['action'] if @customer && has_action_right?('new_customer_login', params[:controller]) %>
        </th>
	  </tr>
	</table>
</p>
<% end %>
